<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/niedziela.scss" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <meta property="og:title" content="Czy dzisiaj sklepy są otwarte?">
    <meta name="description" content="Sprawdź, czy dzisiaj zrobisz zakupy. Obsługuję takze święta.">
    <meta property="og:description" content="Sprawdź, czy dzisiaj zrobisz zakupy. Obsługuję takze święta.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= I18n.t('app.question') %></title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <p><%= @checker.full_date %></p>
        <p><%= I18n.t('app.shops') %></p>
      </div>
      <% if @checker.are_shops_closed_today? == true %>
        <div class='status closed'>
          <p><%= I18n.t('app.closed') %></p>
        </div>
        <p><%= I18n.t('app.info', reason: @checker.reason) %></p>
      <% else %>
        <div class='status open'>
          <p><%= I18n.t('app.open') %></p>
        </div>
      <% end %>
      <% if not @checker.today.sunday? %>
        <div class='next'>
          <p><%= I18n.t('app.next_sunday', sunday: @checker.next_sunday_formatted) %></p>
          <p class="<%= @checker.next_sunday_status %>"><%= I18n.t("app.#{@checker.next_sunday_status}") %></p>
        </div>
      <% end %>
      <div id="footer">
        <p>Lista świąt i niedziel niehandlowych pobrana <a href='https://pl.wikipedia.org/wiki/Zakaz_handlu_w_niedziele_i_%C5%9Bwi%C4%99ta' target='_blank' >stąd</a>
         i <a href='https://www.calendarindex.com'>stąd</a>.</p>
        <p><a href='https://anks.pl'>anks.pl</a></p>
      </div>
    </div>
  </body>
</html>
