<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/niedziela.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <meta property="og:title" content="Czy dzisiaj sklepy są otwarte?">
    <meta name="description" content="Sprawdź, czy dzisiaj zrobisz zakupy. Obsługuję takze święta.">
    <meta property="og:description" content="Sprawdź, czy dzisiaj zrobisz zakupy. Obsługuję takze święta.">
    <title><%= I18n.t('app.question') %></title>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <p><%= @today.full_date %></p>
        <p><%= I18n.t('app.shops') %></p>
      </div>
      <% if @today.are_shops_closed_today? == true %>
        <div class='status closed'>
          <p><%= I18n.t('app.closed') %></p>
        </div>
        <p><%= I18n.t('app.info', reason: @today.reason) %></p>
      <% else %>
        <div class='status open'>
          <p><%= I18n.t('app.open') %></p>
        </div>
      <% end %>
      <% if not @today.date.sunday? %>
        <div class='next'>
          <p><%= I18n.t('app.open', date: @today.next_sunday_formatted) %></p>
          <% if @today.next_sunday_closed? %>
            <p class='red'><%= I18n.t('app.closed') %></p>
          <% else %>
            <p class='green'><%= I18n.t('app.open') %></p>
          <% end %>
        </div>
      <% end %>
      <div id="footer">
        <p>Lista świąt i niedziel niehandlowych pobrana <a href='https://pl.wikipedia.org/wiki/Zakaz_handlu_w_niedziele_i_%C5%9Bwi%C4%99ta' target='_blank' >stąd</a>.</p>
        <p><a href='https://anks.pl'>anks.pl</a></p>
      </div>
    </div>
  </body>
</html>
